{% extends 'base.html.twig' %}

{% block body %}
    <h1>TicketMantis list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticketManti in ticketMantis %}
            <tr>
                <td><a href="{{ path('ticketmantis_show', { 'id': ticketManti.id }) }}">{{ ticketManti.id }}</a></td>
                <td>{{ ticketManti.numero }}</td>
                <td>{{ ticketManti.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ticketmantis_show', { 'id': ticketManti.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ticketmantis_edit', { 'id': ticketManti.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ticketmantis_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
