{% extends 'base.html.twig' %}

{% block body %}
    <h1>TicketMantis</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticketManti.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ ticketManti.numero }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ticketManti.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ticketmantis_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ticketmantis_edit', { 'id': ticketManti.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
