{% extends 'base.html.twig' %}

{% block body %}
    <h1>Module list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td><a href="{{ path('module_show', { 'id': module.id }) }}">{{ module.id }}</a></td>
                <td>{{ module.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('module_show', { 'id': module.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('module_edit', { 'id': module.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('module_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
