{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blog creation</h1>

    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>


    {{ form_start(form) }}

        {#{{ form_errors(form) }}#}
        {#{{ form_row(form.message) }}#}

        {#{{ dump(form.message.vars.required) }}#}

        {{ form_widget(form) }}
        <input type="submit" value="Create" />

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('blog_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
