{% extends 'base.html.twig' %}

{% block body %}
    <h1>FicheTest list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ficheTest in ficheTests %}
            <tr>
                <td><a href="{{ path('fichetest_show', { 'id': ficheTest.id }) }}">{{ ficheTest.id }}</a></td>
                <td>{{ ficheTest.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fichetest_show', { 'id': ficheTest.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fichetest_edit', { 'id': ficheTest.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fichetest_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
